[Desktop Entry]
Version=1.0
Type=Application
Name=Factor
Comment=Concatenative programming language
Exec=factor
Icon=org.factorcode.Factor
Categories=Development;
